@import "tailwindcss";

@theme {
  --color-fondo: white;
  --color-fondo-2: #151515;
  --color-card: #1c1c1c;
  --color-rojo: #1f5691;
  --color-texto: black;
  --color-muted: #b0b0b0;
}

@layer base {
  html,
  body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #1f1f1f 0%, #0f0f0f 40%, #0b0b0b 100%);
    color: var(--color-texto);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}
/* Para permitir efecto 3D sin romper TypeScript */
/* Permite rotación 3D */
.preserve-3d {
  transform-style: preserve-3d;
}

/* Brillo metálico con ángulo */
.mix-overlay {
  mix-blend-mode: overlay;
  transform: rotate(15deg);
}

body {
  background: url("../public/just.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

/* Capa de blur global */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(25px) brightness(0.6);
  -webkit-backdrop-filter: blur(25px) brightness(0.6);
  z-index: -1;
}
