@import "tailwindcss";

@theme {
  --color-fondo: #0f0f0f;
  --color-fondo-2: #151515;
  --color-card: #1c1c1c;
  --color-rojo: #b71c1c;
  --color-texto: #ffffff;
  --color-muted: #b0b0b0;
}

@layer base {
  html,
  body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #1f1f1f 0%, #0f0f0f 40%, #0b0b0b 100%);
    color: var(--color-texto);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}
/* Para permitir efecto 3D sin romper TypeScript */
/* Permite rotación 3D */
.preserve-3d {
  transform-style: preserve-3d;
}

/* Brillo metálico con ángulo */
.mix-overlay {
  mix-blend-mode: overlay;
  transform: rotate(15deg);
}
